@charset "UTF-8";
/* """ main css file """ */
@property --bg-color-start {
  syntax: "<color>";
  inherits: true;
  initial-value: #2e9aff;
}
@property --bg-color-stop {
  syntax: "<color>";
  inherits: true;
  initial-value: #f498ad;
}
@property --button-color-start {
  syntax: "<color>";
  inherits: true;
  initial-value: orange;
}
@property --button-color-stop {
  syntax: "<color>";
  inherits: true;
  initial-value: #4ecdc4;
}
@property --button-hover-start {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff00e6;
}
@property --button-hover-stop {
  syntax: "<color>";
  inherits: true;
  initial-value: #4400ff;
}
:root {
  --top-menu-height: 60px;
  --main-color: black;
}

.theme-dark {
  --bg-color-start: rgb(41, 32, 112);
  --bg-color-stop:black;
  --button-color-start: #ff00e6;
  --button-color-stop: #4400ff;
  --button-hover-start: #ffa500;
  --button-hover-stop: #4ecdc4;
  --main-color: #b41fff;
}

* {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  background: fixed;
  position: fixed;
}

#root {
  height: 100%;
}

#main-nav {
  display: flex;
  align-items: center;
  height: var(--top-menu-height);
  position: relative;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: black;
  display: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(235deg, var(--bg-color-start), var(--bg-color-stop));
  transition: --bg-color-start 0.4s, --bg-color-stop 0.4s;
}

.main_input {
  caret-color: #9c108e;
  height: 7.5dvh;
  width: 23.4375dvw;
  border-radius: 10px;
  border: 2px gray solid;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 550;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.7s;
  position: relative;
  transition: box-shadow 0.3s, transform 0.5s;
}
.main_input + label {
  visibility: hidden;
  height: 20px;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.main_input.invalid + label {
  visibility: visible;
  animation: shake 0.5s;
  color: red;
}
.main_input:invalid, .main_input.invalid {
  border: 2px red solid;
}
.main_input::-moz-placeholder {
  color: gray;
}
.main_input::placeholder {
  color: gray;
}
.main_input:focus {
  outline: none;
  transform: scale(1.05);
}
.main_input:hover {
  transform: scale(1.05);
}

.pretty_input {
  caret-color: #9c108e;
  height: 7.5dvh;
  width: 23.4375dvw;
  border-radius: 10px;
  border: 2px gray solid;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 550;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.7s;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
}
.pretty_input + label {
  visibility: hidden;
  height: 20px;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.pretty_input.invalid + label {
  visibility: visible;
  animation: shake 0.5s;
  color: red;
}
.pretty_input:invalid, .pretty_input.invalid {
  border: 2px red solid;
}
.pretty_input::-moz-placeholder {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: gray;
}
.pretty_input::placeholder {
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: gray;
}
.pretty_input:focus, .pretty_input:hover {
  outline: none;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 var(--main-color);
}

.main_button {
  height: 7.5dvh;
  width: 23.4375dvw;
  height: 40px;
  border: solid 1px wheat;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  position: relative;
  transition: all 0.4s ease;
  scale: 1;
  transition: scale 0.4s, --button-color-start 0.4s, --button-color-stop 0.4s;
}
.main_button::before {
  content: "";
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(90deg, var(--button-color-start), var(--button-color-stop));
  border-radius: 20px;
  filter: blur(5px);
}
.main_button:hover {
  scale: 1.05;
  --button-color-start: var(--button-hover-start);
  --button-color-stop: var(--button-hover-stop);
}

.pretty_button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-image: linear-gradient(90deg, var(--button-color-start), var(--button-color-stop));
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  border: solid;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.14s, --button-color-start 0.2s, --button-color-stop 0.2s;
}
.pretty_button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
  --button-color-start: var(--button-hover-start);
  --button-color-stop: var(--button-hover-stop);
}
.pretty_button:active {
  box-shadow: 2px 2px 0 #000;
  transform: translate(-2px, -2px);
}
.pretty_button :focus-visible {
  outline-offset: 1px;
}

.studentpage {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  position: absolute;
}

aside {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-right: 30px;
}
aside > * {
  z-index: 1;
}
aside > svg {
  color: var(--main-color);
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  transition: transform 0.3s;
}
aside > svg:hover {
  transform: scale(1.2);
}

#icon {
  margin-top: 5px;
  z-index: 10;
  margin-left: 10px;
}

.main_radio {
  scale: 1.5;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}
.auth-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.auth-container > h2 {
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: 600;
  color: white;
  transition: color 0.5s;
}

#auth-form {
  padding-bottom: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
#auth-form #reg-link {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  color: white;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  transition: all 0.2s;
}
#auth-form #reg-link > span {
  font-weight: 1000;
  color: wheat;
  font-family: "Courier New", Courier, monospace;
}
#auth-form #reg-link:hover {
  transform: scale(1.03);
}
#auth-form > div > input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  border-color: white;
}
#auth-form > div > input[type=checkbox]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
#auth-form > div > input[type=checkbox]:checked::before {
  content: "✓";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#auth-form > #checkbox-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
#auth-form > #checkbox-container > input[type=checkbox] {
  transition: transform 0.3s;
}
#auth-form > #checkbox-container > input[type=checkbox]:hover {
  transform: scale(1.09);
}
#auth-form > #checkbox-container > label {
  transition: color 0.7s;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.switcher {
  position: relative;
  display: flex;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.7s;
  z-index: 1;
}
.switcher::after, .switcher::before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: opacity 0.5s;
}
.switcher::before {
  opacity: 1;
  background-image: url("/public/Night.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.switcher::after {
  opacity: 0;
  background-image: url("/public/Day.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position-y: -4px;
}

.switcher-circle {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: 0;
}

.circle {
  background-color: rgb(45, 38, 56);
  z-index: 2;
}

.switcher-on > div.circle {
  left: 45%;
  background-color: #f5d5b0;
}

.switcher-on::after {
  opacity: 1;
}
.switcher-on::before {
  opacity: 0;
}

.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  flex-direction: column;
}
.registration-container dialog.SuccessfulModal[open] {
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  margin: auto;
  opacity: 1;
  border: none;
  background: none;
  color: black;
  outline: none;
  width: 300px;
}
.registration-container dialog.SuccessfulModal[open] * {
  outline: none;
}
.registration-container dialog.SuccessfulModal[open] p {
  font-size: x-large;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  animation: show 0.6s;
}
.registration-container dialog.SuccessfulModal[open] button {
  width: 250px;
  opacity: 0;
  animation: show 0.6s forwards;
  animation-delay: 0.1s;
}
.registration-container dialog.SuccessfulModal[open] button:hover, .registration-container dialog.SuccessfulModal[open] button:hover::before, .registration-container dialog.SuccessfulModal[open] button:hover::after {
  transform: scale(1);
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.registration-container dialog.WaitModal[open] {
  justify-self: center;
  align-self: center;
  opacity: 1;
  outline: 0;
  border: none;
  background: none;
  color: black;
  height: 100dvh;
  align-content: center;
}
.registration-container dialog.WaitModal[open] .WaitModal__container {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-container dialog.WaitModal[open] .WaitModal__container #circle1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  left: 185px;
  border-top: 5px solid darksalmon;
  animation: rotate 2s infinite ease;
}
.registration-container dialog.WaitModal[open] .WaitModal__container #circle2 {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border-top: 5px solid red;
  animation: rotate 1.75s ease infinite;
}
.registration-container dialog.WaitModal[open] .WaitModal__container #circle3 {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border-top: 5px solid aqua;
  left: -155px;
  position: relative;
  animation: rotate 1.5s ease infinite;
}
.registration-container dialog.WaitModal[open] .WaitModal__container #square {
  height: 50px;
  width: 50px;
  background-color: bisque;
  animation: rotate 1s linear infinite;
  border-radius: 10px;
  position: relative;
  left: -250px;
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
.registration-container dialog::backdrop {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.registration-container #registration-form {
  width: 90dvw;
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
}
.registration-container #registration-form > legend {
  margin-bottom: 10px;
}
.registration-container #registration-form > .input {
  text-overflow: ellipsis;
}
.registration-container #registration-form > .input[name=password], .registration-container #registration-form > .input[name=repeat] {
  width: 20.8333333333dvw;
  height: 40px;
}
.registration-container #registration-form legend {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: 600;
}
.registration-container #registration-form fieldset {
  display: flex;
  align-items: center;
  background: white;
  width: 25dvw;
  width: 23.4375dvw;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  justify-content: center;
}
.registration-container #registration-form fieldset legend {
  color: wheat;
  width: 154px;
  height: 20px;
  font-size: large;
  position: relative;
  top: -10px;
}
.registration-container #registration-form fieldset div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: relative;
  top: -5px;
}
.registration-container #registration-form fieldset div input {
  height: 40px;
}
.registration-container #registration-form fieldset div label {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.registration-container #registration-form button {
  margin-top: 30px;
  width: 280px;
}

.show-form-container {
  display: flex;
  flex-direction: column;
}
.show-form-container > * {
  background-color: rgba(0, 0, 0, 0.468);
}

.teacher-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher-container form {
  display: flex;
  flex-direction: column;
}
.teacher-container form button {
  margin: 10px;
  height: 50px;
  border-radius: 25px;
}

.profile-container {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  position: relative;
}
.profile-container .user-shower {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 10px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}
.profile-container .user-shower::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff0000, #0000ff);
  filter: blur(15px);
  z-index: -1;
}
.profile-container .user-shower label {
  width: 60%;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: large;
  text-align: center;
}
.profile-container .user-shower .arrow-element {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: beige;
  position: relative;
  transition: all 0.3s;
}
.profile-container .user-shower .arrow-element::after, .profile-container .user-shower .arrow-element::before {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 12px;
  background-color: black;
  transform: rotate(45deg);
  top: 15px;
  left: 5px;
}
.profile-container .user-shower .arrow-element::before {
  transform: rotate(135deg);
  left: 13px;
}
.profile-container .user-menu {
  position: absolute;
  height: 0px;
  width: 100px;
  left: calc(100% - 100px);
  padding: 10px;
  transition: transform 0.3s;
}
.profile-container .user-menu button {
  background: white;
  border: none;
  outline: none;
  border-radius: 12px;
  height: 28px;
  width: 70px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: medium;
}
.profile-container .active ~ .user-menu {
  opacity: 1;
  z-index: 1;
  transform: translateY(40px);
  position: absolute;
}
.profile-container .active .arrow-element {
  transform: rotate(-180deg);
}
.profile-container input {
  position: relative;
}/*# sourceMappingURL=main.css.map */