.switcher {position: relative;
    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    transition: .7s;
    z-index: 1;
    &::after, &::before {
      content: '';
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      transition: opacity .5s;
    }
    &::before {
      opacity: 1;
      background-image:url('/public/Night.jpg');
      background-repeat: no-repeat; 
      background-size: 100% 100%;
    }
  
    &::after {
      opacity: 0;
      background-image:url('/public/Day.jpeg');
      background-repeat: no-repeat; 
      background-size: 100% 110%;
      background-position-y: -4px;
    }
  
  }
  
  .switcher-circle {
    transition: 0.7s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 0;
  }
  
  .circle {
    background-color: rgb(45, 38, 56);
    z-index: 2;
  }
  
  .switcher-on > div.circle {
    left: 45%;
    background-color: #f5d5b0;
  }
  
  .switcher-on {
    &::after {
      opacity: 1;
    }
  
    &::before {
      opacity: 0;
    }
  }