.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;

    h2 {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: xx-large;
        font-weight: 600;
    }

    #registration-form {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;

        .input:nth-last-child(2),:nth-last-child(3) {
            height:40px;
            margin: 10px 0;
            &::placeholder {
                font-size: large;
            }
        }

        button {
            margin-top: 8%;
            width:280px;
        }

    }

}