@use '../../Base/mixins' as *
    
.registration-container 
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    width: 100dvw
    height: 100dvh
    flex-direction: column

    dialog.SuccessfulModal[open]
        justify-self: center
        align-self: center
        justify-items: center
        align-items: center
        margin: auto
        opacity: 1
        border: none
        background: none
        color: black
        outline: none
        width: 300px
        height: 85px

        *
            outline: none

        p
            font-size: x-large
            color: white
            font-family: 'Courier New', Courier, monospace
            font-weight: 600
            text-align: center
            margin-bottom: 10px
            height: 30px
            animation: show .6s  
        
        button
            &:hover
                &, &::before, &::after
                    transform: scale(1) 
            width: 250px
            opacity: 0
            animation: show .6s  forwards
            animation-delay: .1s

    @keyframes show 
        from 
            opacity: 0
        
        to
            opacity: 1
    
    dialog.WaitModal[open]
        justify-self: center
        align-self: center
        opacity: 1
        outline: 0
        border: none
        background: none
        color: black
        height: 100dvh
        align-content: center
        .WaitModal__container 
            justify-self: center
            align-self: center
            display: flex
            align-items: center
            justify-content: center

            #circle1 
                height: 200px
                width: 200px
                border-radius: 50%
                position: relative
                left: 185px
                border-top: 5px solid darksalmon
                animation: rotate 2s infinite ease
        

            #circle2 
                height: 170px
                width: 170px
                border-radius: 50%
                border-top: 5px solid red
                animation: rotate 1.75s ease infinite
            

            #circle3 
                height: 140px
                width: 140px
                border-radius: 50%
                border-top: 5px solid aqua
                left: -155px
                position: relative
                animation: rotate 1.5s ease infinite
            

            #square 
                height: 50px
                width: 50px
                background-color: bisque
                animation: rotate 1s linear infinite
                border-radius: 10px
                position: relative
                left: -250px
            
            @keyframes rotate 
                from

                to 
                    rotate: 360deg

    dialog::backdrop
        backdrop-filter: blur(5px)

    #registration-form 
        width: 90dvw
        display: flex
        flex-direction: column
        height: 600px
        align-items: center
        position: relative

        & > legend 
            margin-bottom: 15px


        & > .pretty_input
            text-overflow: ellipsis

        
        & > .input[name=password], & > .input[name=repeat]
            width: pxw(400) 
            height: 40px

        legend        
            color: white
            font-family: 'Courier New', Courier, monospace
            font-size: xx-large
            font-weight: 600
            
            
        fieldset
            display: flex
            align-items: center 
            background: white
            width: 25dvw
            width: pxw(450)
            margin-bottom: 20px
            margin-top: 5px
            border: none
            border-radius: 10px
            justify-content: center

            legend
                color: wheat
                width: 154px
                height: 20px
                font-size: large
                position: relative
                // color: gray
                top: -10px
                // left: calc(50% - 77px)
            
            div
                display: flex
                align-items: center
                justify-content: space-between
                width: 70%
                position: relative
                top: -5px

                input
                    height: 40px

                label
                    font-family: 'Courier New', Courier, monospace
                    font-weight: 600


        button 
            margin-top: 30px
            width:280px

