@use '../../Base/mixins' as *;

main.studentnavigator__container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
    #studentnavigator__form {
        @include formbg;
        height: 300px;

        legend {
            margin-bottom: 40px;
        }
    }
}