@use '../../Base/mixins' as *;

main.showform__container {
    width: 100dvw;
    height: calc(100dvh - var(--top-menu-height));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    header {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        color: white;
        font-size: x-large;
        position: sticky;
    }

    form {
        width: 100dvw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 10px;
        align-items: center;

        h4 {
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            border-radius: 5px;
            padding: 7px;
            max-width: 50dvw;
            max-height: 90px;
            border: white 2px dashed;
            margin-bottom: 20px;
        }

        button {
            width: 175px;
        }

        section {
            padding-top: 5px;
            border-bottom: dashed white 2px;
            border-top: dashed white 2px;
            width: 650px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            gap: 20px;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            height: 600px;
            &::-webkit-scrollbar {
                display: none
            }


            & > article {
                @include formbg;
                min-height: 180px;
                align-items: baseline;
                padding-left: 30px;
                margin-bottom: 10px;
                gap: 5px;

                legend.question__legend {
                    max-width: 100%;
                    font-size: x-large;
                    min-width: 50%;
                    margin-right: 20px;
                    width: auto;
                    max-height: 200px;
                    text-overflow:clip;
                    overflow-y: auto;
                }

                fieldset {
                    display: flex;
                    flex-direction: column;
                    outline: none;
                    height: auto;
                    border: none;
                    width: 90%;
                    gap: 10px;

                    article.answer__container {
                        min-height: 40px;
                        width: 100%;
                        position: relative;

                        label.answer__label {
                            border: 2px black solid;
                            width: 100%;
                            text-align: center;
                            align-content: center;
                            outline: none;
                            background-color: white;
                            border-radius:15px;
                            @include pretty_hover;
                            color: black;
                            font-size: 14px;
                            font-family:  monospace;
                            font-weight: 600;
                            padding: 5px;
                            min-height: 40px;
                        }

                        input.answer__input {
                            position: absolute;
                            width: 1px;
                            height: 1px;
                            left: 50%;
                            top: 50%;
                            color: transparent;
                            background: transparent;
                            z-index: -10;
                        }
                        
                        input.answer__input:checked ~ label.answer__label   {
                            background-color: rgb(80, 251, 80);
                            scale: 1.02;
                        }
                    }
                }
            }
        }
    }
}