.auth-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    & > h2 {
        margin-bottom: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: xx-large;
        font-weight: 600;
        color: white;
        transition: color .5s;
    }

   
}

#auth-form {
    padding-bottom: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

    #reg-link {
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
        color: white;
        text-decoration: dotted;
        transition: all .2s;

        & > span {
            font-weight: 1000;
            color: wheat;
            font-family: 'Courier New', Courier, monospace;
        }

        &:hover {
            transform: scale(1.03);
        }
    }

    & > input {
        margin: 15px;
    }

    & > div > input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #555;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        border-color: white ;

        &:checked {
            background-color: #4CAF50;
            border-color: #4CAF50;
        }

        &:checked::before {
            content: "✓";
            color: white;
            font-size: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & > #checkbox-container {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        gap: 10px;

        & > input[type=checkbox] {
            transition: transform .3s;

            &:hover {
                transform: scale(1.09);
            }
        }

        & > label {
            transition: color .7s;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 800;
        }
    }
}