@use './mixins' as *;



#main-nav {
  display: flex;
  align-items: center;
  height: var(--top-menu-height);
  position: relative;
  top: 0;
  left: 0;  
} 

a {
  text-decoration: none;
  color: black;
  display: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(
    235deg, 
    var(--bg-color-start),
    var(--bg-color-stop)
  );
  transition: 
      --bg-color-start .4s,
      --bg-color-stop .4s;

}

.main_input {
  caret-color: #9c108e;
  @include size;
  border-radius: 10px;
  border: 2px gray solid;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 550;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all .7s;
  position: relative;
  transition: box-shadow 0.3s, transform 0.5s;

  & + label {
    visibility: hidden;
    height: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }

  &.invalid + label {
    visibility:visible;
    animation: shake .5s ;
    color: red; 
  }
  

  &:invalid, &.invalid {
    border: 2px red solid;
  }

  &::placeholder {
    color: gray ;
  }

  
  &:focus {
    outline: none;
    transform: scale(1.05);
  }
  
  &:hover {
    transform: scale(1.05);
  }
}

.pretty_input {
  caret-color: #9c108e;
  @include size;
  border-radius: 10px;
  border: 3px black solid;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 550;
  padding: 20px;
  box-sizing: border-box;
  transition: all .7s;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;

  & + label {
    visibility: hidden;
    height: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }

  &.invalid + label {
    visibility:visible;
    animation: shake .5s ;
    color: red; 
  }
  

  &:invalid, &.invalid {
    border: 2px red solid;
  }

  &::placeholder {
    font-size: large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray ;
    transition: transform .3s;
  }

  &:focus, &:hover {

    &::placeholder {
      transform: translate(4px) scale(1.05);
    }

    outline: none;
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 black;
  }
  &:invalid {
    &:focus, &:hover {
      --main-color: red;
    }
  }
}

.main_button {
  @include size;
  height: 40px;
  border: solid 2px wheat ;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  position: relative;
  background-color: rgb(197, 172, 172);
  transition: all 0.4s ease;
  scale: 1;

  &::before {
    @include pseudoelement;
    background-image: linear-gradient(
    90deg, 
    var(--button-color-start), 
    var(--button-color-stop)
    );
    border-radius: 20px;
    // filter: blur(10px);
    clip-path: view-box;
  }

  transition: 
    scale .4s,
    --button-color-start .4s,
    --button-color-stop .4s;

  &:hover{
    scale: 1.05;
    --button-color-start: var(--button-hover-start);
    --button-color-stop: var(--button-hover-stop);
  }
}

.pretty_button{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
    background-image: linear-gradient(
    90deg, 
    var(--button-color-start), 
    var(--button-color-stop)
    );
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 10px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition:
    all .14s,
    --button-color-start .2s,
    --button-color-stop .2s;

  &:focus {
      box-shadow: 2px 2px 0 #000;
      transform: translate(-2px,-2px);
  }

  &:hover {
      box-shadow: 4px 4px 0 #000;
      transform: translate(-4px,-4px);
      --button-color-start: var(--button-hover-start);
      --button-color-stop: var(--button-hover-stop);
      &:active {
        box-shadow: 2px 2px 0 #000;
        transform: translate(-2px,-2px);
      }
  }

  :focus-visible{
      outline-offset: 1px;
  }
}

.studentpage {
  width: 100dvw; height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  position: absolute; 
}

aside {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-right: 30px;
  & > * {
    z-index: 1;
  }

  & > svg {
    color: var(--main-color);
    align-self: center;
    justify-self: center;
    margin-left: 10px;
    transition: transform .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

#icon {
  margin-top: 5px;
  z-index: 10;
  margin-left: 10px;
}

.main_radio {
  scale: 1.5;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}


