/* """ main css file """ */
@use './_mixins' as *;

@property --bg-color-start {
syntax: '<color>';
inherits: true;
initial-value: #2e9aff;
}

@property --bg-color-stop {
syntax: '<color>';
inherits: true;
initial-value: #ff8aa5;
}

@property --button-color-start {
  syntax: '<color>';
  inherits: true;
  initial-value: orange;
}

@property --button-color-stop {
  syntax: '<color>';
  inherits: true;
  initial-value: #14dcb0;
}

@property --button-hover-start {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff3eec;
}

@property --button-hover-stop {
  syntax: '<color>';
  inherits: true;
  initial-value: #4400ff;
}

@property --main-color {
  syntax: '<color>';
  inherits: true;
  initial-value: black;
}

:root {
  --top-menu-height: 60px;
}

.theme-dark {
  --bg-color-start: rgb(41, 32, 112);
  --bg-color-stop:black;  
  --button-color-start: #ff00e6;
  --button-color-stop: #4400ff;
  --button-hover-start:#19eec0; 
  --button-hover-stop: #ffa500;
  --main-color: #ff1fce;
}

*{  
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  outline: none;
  border: none;
  box-sizing: border-box;

  &:hover, &:focus, &:active {
    outline: none;
  }
}

html {
  background: fixed;
  position: fixed;
}

#root {
  height: 100%;
}

label {
  display: block;
}




