/* """ main css file """ */
@use './_mixins' as *;



:root {
  --top-menu-height: 60px;
  --is-theme-dark: 0;
  --is-theme-light: 1;
  
  --bg-color-light-1: #2e9aff;
  --bg-color-light-2: #f498ad;
  --bg-color-dark-1: rgb(41, 32, 112);
  --bg-color-dark-2: black;
  
  --backdrop-light: linear-gradient(235deg, var(--bg-color-light-1), var(--bg-color-light-2));
  --backdrop-dark: linear-gradient(235deg, var(--bg-color-dark-1), var(--bg-color-dark-2) );

  --button-color-dark-1: #4400ff;
  --button-color-dark-2: #ff00e6;
  --button-color-light-1: #4ecdc4;
  --button-color-light-2: orange;

  --button-background: linear-gradient(90deg, var(--button-color-light-2), var(--button-color-light-1));
  --button-hover-ground: linear-gradient(90deg, var(--button-color-dark-2), var(--button-color-dark-1));

}

.theme-dark {
  --is-theme-dark: 1;
  --is-theme-light: 0;

  --button-background: linear-gradient(90deg, var(--button-color-dark-2), var(--button-color-dark-1));
  --button-hover-ground: linear-gradient(90deg, var(--button-color-light-1), var(--button-color-light-2));
}

*{  
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  background: fixed;
  position: fixed;
}

#root {
  height: 100%;
}




